<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our HomePage!</title>
</head>
<body>
Hello peeps.
My name is {{name}}.
My age is {{age}}.

<form action='analyze_text/', method='get'>
    <h1>Enter your text below: </h1>
    <textarea name="text"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="capital"> UPPER CASE <br>
    <button type="submit"> Submit </button>
</form>
</body>
</html>